body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(images/table.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

h1  {
    color: goldenrod;
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

#message-el {
    font-style: italic;
}

button {
    background-color: goldenrod;
    color: #016f32;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 1.5rem;
}